@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Montserrat&family=Spectral:ital,wght@0,300;0,400;1,300;1,400&display=swap');


* {
    font-family: Montserrat;
  }

.wrapper {
  position: relative;
  min-height: 100vh;
}

#root {
  padding: 3% 5%;
}

/* Déclaration des variables */

$image-url: "./src/assets/IMG.png";
$colorWriting_paragraph: white;
$colorWriting: #FF6060;
$border_radius: 10px;

/*Déclaration des mixins*/

@mixin flex_maker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flex_maker_column {
  display: flex;
  flex-direction: column;
}

@mixin font_footer {
  font-family: Montserrat;
  font-weight: 500;
  font: size 24px;
  color: $colorWriting_paragraph;
}

@mixin espacement_logo {
  margin-right: 5px;
}

@mixin card_menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5%;
  padding: 3% 5%;

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0%;
    margin: 0%;
    row-gap: 30px;
  }
}

@mixin card {
  height: 300px;
  border-radius: $border_radius;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: 15%;

  @media (max-width: 768px) {
    margin: 0%;
    padding: 0%;
  }

  .image_background_card {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    border-radius: $border_radius;
    background-position: center;
  }

  p {
    position: absolute;
    color: $colorWriting_paragraph;
    font-weight: 700;
    padding-left: 2%;
    max-width: 220px;

    @media (max-width: 1000px) {
      max-width: 150px;
    }
  }
}

@mixin underline_stopper {
  text-decoration: none;
}

/* Début du code sass */




/* Composant Banner*/

.component_banner {
  color: $colorWriting;
  @include flex_maker();
  @media (max-width:520px){
    align-items: center;
    text-transform : uppercase;
  }
  img {
    @include espacement_logo();
  }
}
.component_banner_logo{
    @media (max-width:520px) {
        white-space: nowrap;
        img{
            width: 15%;
        }
    }
}
.nav_bar {
  text-decoration: none;
  @include flex_maker();
    @media (max-width:520px){
        width: 40%;
        justify-content: space-evenly;
    }
  p {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: $colorWriting;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    @media (max-width: 520px) {
      font-size: 10px;
    }
  }

  p.p_1 {
    margin-right: 50px;
    @media (max-width:520px){
        margin-right: 15px;
    }
  }

  .underline_stop {
    text-decoration: none;
  }

  
}

/* Composant footer */

.component_footer {
  background-color: black;
  @include flex_maker_column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 200px;

  
  
  padding-top: 30px;
  @media (max-width:520px){
    justify-content: center;
  }
  p {
    @include font_footer();
    @media(max-width:520px) {
        font-size: 12px;
        text-align: center;
        width: 30%;
    }
  }

  img {
    @include espacement_logo();
  }
}

.background_title {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/IMG.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(95%);
  border-radius: 25px;
}

.home_title {
  height: 200px;
  color: $colorWriting_paragraph;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 48px;
  @media (max-width: 768px) {
    padding-left: 5%;
    font-size: 24px;
    padding-right: 3%;
  }
}

.home_card {
  @include card_menu();
}

.card_logement {
  @include card();
  position: relative;
}

.background_card {
  background-color: #f7f7f7;
  border-radius: 25px;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    background-color: $colorWriting_paragraph;
    padding: 0%;
    margin: 0%;
  }
}

/* intégration de la page about */

.picture_about {
  max-height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 47%;
  border-radius: $border_radius;
  filter: brightness(75%);
  margin-top: 30px;
}

.liste_about {
  @include flex_maker_column;
  list-style-type: none;
  width: 85%;
  padding-left: 7%;
  padding-right: 7%;
  margin-top: 30px;
  @media (max-width:520px) {
    width: 100%;
    padding-left: 0%;
  }
}

.listing_about {
  margin-bottom: 20px;
  list-style-type: none;
  @media (max-width:768px) {
    width: 100%;
  }
}

.div_about_supp {
  color: $colorWriting;
  background-color: #f7f7f7;
  margin-top: auto;
  /*max-height: auto;*/
  border-radius: $border_radius;
  font-size: 17px;
  /*padding-top: 2%;*/
  padding-left: 2%;
  padding-right: 2%;
  content-visibility: auto;
  /*animation: height 3s ease;*/
}

/*animation pour les collapses proposant plusieurs éléments en paragraphe */

.multielement_about {
  
  animation: heightOnex  4s  linear forwards;
  /*transition: height ease 0.9 */
}

@keyframes heightx {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 500px;
  }
}


@keyframes heighty {
  0% {
    height: 500px;
    
  }
  100% {
    height: 0px;
  }
}

/* animation pour les éléments ne contenant qu'un seul bloc */

.onlyoneelement_about {
  animation: heightOnex  1s  linear forwards;
  /*transition: height 2s cubic-bezier(0.4, 0, 0.2, 1);*/

}

@keyframes heightOnex {
  0% {
    max-height: 0px;
    
  }
  
  100% {
    max-height: 500px;
  }
}

.closing_animation {
  animation: heightOney 2s ease forwards;
  background-color: #f7f7f7;
  border-radius: $border_radius;
}

@keyframes heightOney {
  0% {
    max-height: 500px;
  

  }
  100% {
    max-height: 0px;
  }
}

/*.paragraphe_about {
  padding-bottom: 2%;
  overflow-y: hidden;
  @media (max-width:520px) {
    font-size: 14px;
  }
}*/

.part_list_about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $colorWriting;
  border-radius: $border_radius;
  color: $colorWriting_paragraph;
  padding-left: 2%;
  padding-right: 2%;
  @media (max-width:520px) {
    max-height: 30px;
    letter-spacing: 1px;
  }
  h2{
    @media (max-width:520px) {
        font-size: 15px;
    }
  }
}

.icon_about {
  height: 14px;
  cursor: pointer;
}

.active {
  transform: rotate(-180deg);
  transition: all 0.6s;
}
.inactive {
  transform: rotate(0deg);
  transition: all 0.6s;
}

/* intégration de la page erreur */

.div_error {
  @include flex_maker_column;
  align-items: center;
  justify-content: space-around;
  color: $colorWriting;
  margin-top: 5%;
  min-height: 600px;
  

  .underline_stop {
    text-decoration: none;
    color: $colorWriting;
    padding-top: 5%;
    text-decoration: underline;
  }

  .title_error {
    font-weight:900;
    font-size: 25em;
    text-align: center;
    width:100%;
    margin: 0%;
    @media (max-width:900px) {
        font-size: 15em;
    }
    @media (max-width:520px) {
        font-size: 5em;  
    }
  }

  h2 {
    padding-top: 3%;
    @media (max-width:900px) {
        text-align: center;
    }
    @media (max-width:520px) {
        text-align: center;
    }
  }
}

/* intégration page logement */

.logements_collapses {
  @include flex_maker;
  @media (max-width:768px) {
    @include flex_maker_column;
  }
}

.description_collapse_logement,
.equipements_collapse_logement {
  width: 47%;
  @media (max-width:768px) {
    width: 100%;
  }
}

.rating_tags {
  @include flex_maker;
  align-items: center;
  flex-wrap: wrap;
}

.item_tags {
  gap: 2%;
  @include flex_maker;
  white-space: nowrap;
  max-width: 50%;
  margin-bottom: 1%;
  @media (max-width:768px){
    flex-wrap: wrap;
  }
  @media (max-width:520px){
    flex-wrap: nowrap;
  }
  p {
    background-color: $colorWriting;
    padding: 1% 3%;
    color: $colorWriting_paragraph;
    border-radius: 25px;
    @include flex_maker_column;
    justify-content: center;
    align-items: center;
    margin: 1%
  }
}

.item_rating {
  @include flex_maker;
  @media (max-width:520px){
    display: none;
  }
  img {
    height: 30%;
  }
}

.title_host {
  @include flex_maker;
  color: $colorWriting;

  h1 {
    
    margin-bottom: 1%;
  }
}

.name_picture {
  @include flex_maker;
  align-items: center;
  @media (max-width:520px) {
    display: none;
  }

  .picture_logement {
    border-radius: 50%;
    height: 70%;
  }
}

/* intégration du carouselle dans la page logement */

.carousel {
  padding-top: 2%;
}

.image_background_carousel {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: $border_radius;
  @media (max-width:768px){
    max-height: 350px;
  }
}

.buttons_logement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0% 2%;
  

  .button_logement {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    img{
      @media (max-width:520px) {
        height: 25px;
      }
    }
  }
}

.index_picture_logement {
  position: relative;
  left: 50%;
  bottom: 10%;
  color: $colorWriting_paragraph;
}


/* modification de la page logement avec les media queries */ 

.new_bar{
  display: none;
  @media (max-width:520px) {
    @include flex_maker;
    align-items: center;
    margin-bottom: 2.5%;
  }
  .new_item_rating{
    @include flex_maker;
    gap: 10%;
    img{
      height: 15px;
    }
  }
  .new_name_picture{
    color: $colorWriting;
    @include flex_maker;
    align-items: center;
    justify-content: space-around;
    width: 35%;
  }
  .new_picture_logement{
    border-radius: 50%;
    height: 45px;
  }
}